<h1>Thank You For Registering, <%= @user.name%>!</h1>
<h2>Please enter your username and password:</h2>

<form action="password_match" method="post">
  <p>Username:</p><input type="text" name="username" value="<%= @user.username%>">
  <br>
  <p>Password:</p><input type="text" name="password" required placeholder="confirm password">
  <br>
  <br>
  <p><%= flash[:alert] %></p>
  <input type="submit" name="" value="Submit">
</form>
