<!-- <h1>User#registration</h1> -->
<h1>Register Here</h1>

<form action="confirmation" method="post">
  <p>First Name*:</p> <input type="text" name="name" autofocus required placeholder="Enter first name">
  <br>
  <p>Surname:</p><input type="text" name="surname" placeholder="Enter surname">
  <br>
  <p>Street Address:</p><input type="text" name="address" placeholder="Enter street address">
  <br>
  <br>
  <table>
    <!-- <thead>
      <th>City:</th>
      <th>State:</th>
      <th>Postal Code:</th>
    </thead> -->
    <tbody>
      <tr>
        <td>City:</td>
        <td>State:</td>
        <td>Postal Code:</td>
      </tr>
      <tr>
        <td><input type="text" name="city" placeholder="Enter city"></td>
        <td><input type="text" name="state" placeholder="Enter state"></td>
        <td><input type="text" name="postalcode" placeholder="Enter postal code"></td>
      </tr>
    </tbody>
  </table>
  <!-- <p>City:</p><input type="text" name="city" placeholder="Enter city"> <p>State:</p><input type="text" name="state" placeholder="Enter state">
  <p>Postal Code:</p><input type="text" name="postalcode" placeholder="Enter postal code"> -->


  <br>
  <p>Country:</p><input type="text" name="country" placeholder="Enter country">
  <br>
  <p>Email:</p><input type="text" name="email" placeholder="Enter email">
  <br>
  <p>Username*:</p><input type="text" name="username" required placeholder="Enter username">
  <br>
  <p>Password*:</p><input type="password" name="password"  required placeholder="Enter password">
  <br>
  <br>
  <p>*Required field</p>
  <input type="submit" value="Submit">
</form>
